<!-- add anchor tag with create employee link -->
<a href="#!/employees/new">Create Employee</a>

<div>
    <input type="text" ng-model="query" />
  </div>
  
<h2>Current Employees</h2>
<div ng-repeat="person in employees | filter: query">
    <a ng-if="person.employmentEnd === 0" href="#!/employees/detail/{{ person.id }}">{{ person.firstName }} {{ person.lastName }}</a>
</div>

<!-- <h2>Former Employees</h2>
<div ng-repeat="person in employees | filter: query">
    <p ng-if="person.employmentEnd > 0">{{ person.firstName }} {{ person.lastName }}</p>
</div> -->